<!DOCTYPE html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Gostations Direction</title>
    <%= Gon::Base.render_data %>
    <style>
     
      html, body {
        height: 100%;

      }
      #trip-show-map {
        height: 50%;
        width: 100%;
        margin: auto;
        border-radius: 1px;
      }

      #directions-panel {
        margin-top: 10px;
        background-color: #FFEE77;
        padding: 10px;
      }

      @media screen and (min-width: 768px) {
        #trip-show-map{
          margin-top: 60px;
        }

      }
    </style>
  </head>

  <body>
    <%= render partial: "shared/LvBP"%>

    <!-- <div id="myModal" class="modal fade " role="dialog">
      <div class="modal-dialog">
         Modal content
        <div class="modal-content trip-button">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= @trip.name%></h4>
          </div>
          <div class="modal-body">
            <p><%= @trip.description %></p>
          </div>
        </div>
      </div>
    </div> --> 
    <div class="modal-trip-show">
      <!-- Trigger the modal with a button
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
       -->
      <!-- Modal for complete trip-->
      <div class="modal modal-style fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content" style="max-width: 350;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
      
            </div>
            <div class="modal-body text-center">
              <div style="width: 90px;margin:0 auto;">
                <%= image_tag @trip.badge, style:"width:100px;height100px;"%>
              </div>
              <br/>
              <p >恭喜你!已挑戰成功!</p>  
              <p >本次任務獲得 <%= @trip.points %> 點</p>  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-main-outline" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of Modal for complete trip-->

    <div class="container" style="padding: 0px 0px 55px 0px;">
      <div id="trip-show-map" class="z-depth-2" style="height: 350px; position: fixed; top: 0px;" ></div>
    
      <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding-bottom: 8px; margin-top: 10px;" >
        <h3 class="col-xs-12 text-center">
          <%= @trip.name %>
        </h3>
        <p class="col-xs-12" ><%= @trip.description %></p>
      </div>
      <div class="clearfix"></div>

      <div class="trip-data col-xs-12 col-sm-8 col-sm-offset-2">          
        
        
        <div class="col-xs-4 col-sm-4" style="margin-top: 3px; padding: 15;">
          <% if @trip.is_challenged?(current_user)%>                  
            <%= image_tag @trip.badge, alt: @trip.name, style:"width: 90px; height: auto;" %>
          <% else %>
            <%= image_tag @trip.badge, alt: @trip.name, style:"-webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: 1;" %>
          <% end %>
        </div>
        <div class="col-xs-8 col-sm-8" style="">
          <% if Challenge.where(trip_id:@trip).exists?%>
            <p>             
              <%= image_tag @challenge.user.avatar, style:"width:30px; display: inline-block;"%>
              <%= @challenge.user.name%>
            </p>

            <p style="padding-left: 35px;">在 <%= @challenge.completetime.round %> 分鐘內完成 </p>
          <% else %>
            <p>還沒有人完成喔！快來搶頭香！</p>
            <br>
          <%end%>   
          <hr style="margin: 5px auto;">
          <% if @trip.is_challenged?(current_user)%> 
            <% if @challenge.user == current_user %>
              恭喜你，成為紀錄保持人！
            <% else %>
              <%= image_tag current_user.avatar, style:"width:30px; display: inline-block;"%>
              你在 <%= Challenge.where(user_id: current_user, trip_id: @trip).first.completetime.round %> 分鐘內完成
            <% end %>
          <% else %>
            你的任務還沒完成，趕快出發！
          <% end %>
        </div> 

        <div class="clearfix"></div>

        <% @sites.each do |site|%>
          <!-- Modal for sight-->
          <div class="modal modal-style fade" id="sight" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><%= site.name%></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= image_tag site.photo, class:"img-fluid" %>
                  <p><%= site.description%></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-main" data-toggle="modal" data-target="#trip_gostation" data-dismiss="modal">去打卡</button>
                  <button type="button" class="btn btn-sm btn-main-outline">導航</button>
                  <p>完成<strong>"<%= @trip.name %>"</strong></p>
                </div>
              </div>
            </div>
          </div>
        <%end%>
        <!-- google marker Modal -->
        <div class="modal modal-style fade" id="tripModalCenter" tabindex="-1" role="dialog" aria-labelledby="tripModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="tripModalLongTitle"></h3>
              </div>
              <div class="modal-body">
                <div>
                  <img id="tripModal-img" alt="Store Photo" width="300" height="300" class="border rounded">
                </div>
                <div id="tripModal-content" style="font-size: 16px;" class="text-center"></div>
                <div id="tripModal-disdur" style="font-size: 12px;" class="text-center"></div>
                <div id="tripModal-availableTime" style="font-size: 12px;" class="text-center"></div>
                <div id="tripModal-moreinfo-div" class="col-xs-6 col-xs-offset-3 text-center">
                  <a id="tripModal-moreinfo" style=" font-size: 12px; margin: 8px; padding: 8px; width:100px; " class="btn btn-main-outline text-center " href="" target="_blank">更多資訊</a>
                </div>
                <div id="tripModal-cellContent" style="font-size: 12px;" class="text-center"></div>
                <div id="tripModal-cellProgress">
                  <div id="tripModal-cellBar"></div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="modal-footer">
                <div class="col-xs-4 col-xs-offset-1" >
                  <a id="tripModal-checkin" style="font-size: 16px;  padding: 8px; width:100px;" class="btn btn-sm btn-main text-center" rel="nofollow" data-dismiss="modal" >打卡</a>
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                  <a id="tripModal-directionurl" style=" font-size: 16px; padding: 8px; width:100px; " class="btn btn-sm btn-main-outline text-center" style="margin: 0 auto;" href="" target="_blank">導航</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- site marker Modal -->
        <div class="modal modal-style fade" id="siteModalCenter" tabindex="-1" role="dialog" aria-labelledby="siteModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">               
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="siteModalLongTitle"></h3>
              </div>
              <div class="modal-body">
                <div>
                  <img id="siteModal-img" alt="Site Photo" width="400" height="400" class="border rounded">
                </div>
                <div id="siteModal-content" style="font-size: 14px;" class="text-center"></div>
                <div id="siteModal-disdur" style="font-size: 14px;" class="text-center"></div>
                <div id="siteModal-availableTime" style="font-size: 14px;" class="text-center"></div>
              </div>
              <div class="modal-footer">
                <div class="col-xs-4 col-xs-offset-1" >
                  <a id="siteModal-checkin" style="font-size: 16px;  padding: 8px; width:100px;" class="" rel="nofollow"></a>
                </div>
                <div class="col-xs-5 col-xs-offset-2">
                  <a id="siteModal-directionurl" style="color:#ffffff; font-size: 16px; padding: 10px 35px;" class="btn btn-sm btn-main-outline" href="" target="_blank">導航</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="comment-group" style="padding-left: 0px;">
          <div class="col-xs-8 col-sm-10" style="padding-left: 0px;">
            <h4>好玩推薦</h4>
            <h6 class="text-muted">與我們分享你的私房景點</h6>
          </div>

          <div class="clearfix"></div>
          <br/>
          <div class="">
            <% @comments.each do |comment|%>
              <div class="comment col-xs-12 ">

                <div class="media">
                  <div class="media-left ">
                    <!-- Button trigger modal -->
                  <button type="button" class="btn btn-gray-outline" data-toggle="modal" data-target=#<%= "comment#{comment.id}"%> >
                    <%= image_tag comment.image, class: "img-fluid", style: "width:64px;border-radius:5px"%>
                  </button>

                  <!-- Modal -->
                  <div class="modal  modal-style fade" id=<%= "comment#{comment.id}" %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h5 class="modal-title" id="exampleModalLabel">
                            <p><%= comment.comment %></p>
                          <P class="text-right">
                            by <%= link_to comment.user.name, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at)%> ago
                          </P>
                          </h5>
                          
                        </div>
                        <div class="modal-body">
                          <%= image_tag comment.image %>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                    
                  </div>
                  <div class="media-body clearfix">
                    <P class="text-right">
                      by <%= link_to comment.user.name, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at)%> ago</P>
                    
                    <p><%= comment.comment %></p>
                  </div>
                  <hr/>
                </div>
              </div>
            <%end%>
          </div>
        </div>

        <div class="form-group comment-group clearfix">  
          <%= form_for [@trip, @comment] do |f|%>
            <%= f.text_area :comment, class: "form-control" %>
              <%= f.file_field :image, class: "btn form-control-file", style: " width:auto;" %>
              <input class="btn btn-main-outline pull-right" type="submit" value="留言">
            </div>
          <% end%>
        </div>
      </div>
    </div>  

    

      <script>
        // common functions defined in assets/javascripts/google_map_common.js

        $.ajaxSetup({
          headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
        });

        $(document).ready(function() { 
          if(gon.is_complete_trip){
            $('#myModal').modal();
          }
        });

        // --- HTML: <div id="tripModalCenter"></div>
        function setMarkerModalInfo(props) {
          var cellProgressEle = document.getElementById('tripModal-cellProgress');
          cellProgressEle.className = '';
          document.getElementById('tripModal-cellBar').className = '';

          var markerModalEle = document.getElementById("tripModal-checkin");
          markerModalEle.innerHTML = "";
          markerModalEle.className = "";
          markerModalEle.onclick = null;

          if(props.id >= 0){//gostations
            var percentage = props.fullBatteryCells/props.totalBatteryCells;
            cellProgressEle.className = 'myProgress';
            document.getElementById('tripModal-cellBar').className = 'myBar';
            var elem = document.getElementById("tripModal-cellBar");
            elem.style.width = percentage*100 + '%';

            // markerModalEle.style.color = "#323237";
            markerModalEle.className = "btn btn-sm btn-default text-center col-xs-5";
            if( props.bCloseGostation ){
              // markerModalEle.style.color = "#ffffff";
              markerModalEle.onclick = toggle;
            }

            if(props.bCheckin){
              markerModalEle.innerHTML = "已打卡";
              if(props.bCloseGostation){
                markerModalEle.className = "btn btn-sm btn-gray-outline text-center col-xs-5";
              }
              
            }
            else{
              markerModalEle.innerHTML = "打卡";
              if(props.bCloseGostation){
                markerModalEle.className = "btn btn-sm btn-main text-center col-xs-5";
              }
            }
          }
          document.getElementById('tripModalLongTitle').innerHTML = props.title;
          document.getElementById('tripModal-img').src = props.storePhoto;
          document.getElementById('tripModal-content').innerHTML = ''+props.address;
          document.getElementById('tripModal-availableTime').innerHTML = '營業時間：'+props.availableTime;
          document.getElementById('tripModal-cellContent').innerHTML = "";
          if(props.totalBatteryCells>0){
            document.getElementById('tripModal-cellContent').innerHTML = '滿電電池：'+props.fullBatteryCells+' / '+props.totalBatteryCells;
          }
          if(props.source_url){
            document.getElementById('tripModal-moreinfo-div').style = "display: inline";
            document.getElementById('tripModal-moreinfo').href = props.source_url;
          }
          else{
            document.getElementById('tripModal-moreinfo-div').style = "display: none";
          }
          if(props.distance!=null && props.duration!=null){
            document.getElementById('tripModal-disdur').innerHTML = '預估：'+props.distance+' '+props.duration;
          }
          document.getElementById("tripModal-directionurl").href = props.directions_url
        }


        // --- HTML: <div id="siteModalCenter"></div>
        function setSiteMarkerModalInfo(props) {
          document.getElementById('siteModalLongTitle').innerHTML = props.title;
          document.getElementById('siteModal-img').src = props.storePhoto;
          document.getElementById('siteModal-content').innerHTML = props.content;
          // document.getElementById('siteModal-availableTime').innerHTML = '營業時間：'+props.availableTime;

          if(props.distance!=null && props.duration!=null){
            document.getElementById('siteModal-disdur').innerHTML = '預估：'+props.distance+' '+props.duration;
          }
          document.getElementById("siteModal-directionurl").href = props.directions_url
        }

        var map = null;
        var gostationMarkers = [];
        var siteMarkers = [];
        var friendlyStoreMarkers = [];
        var currentPositionMarker = null;
        var destinationMarker = null;
        var directionsService = null;
        var directionsDisplay = null;

        // map icons
        var i_green_black_battery = null;
        var i_green_black_battery_sm = null;
        var ig_green_black_battery = null;
        var i_blue_black_battery = null;
        var ig_blue_black_battery = null;
        var i_site = null;
        var i_site_sm = null;
        var ig_site = null;
        var friendly_store_icon = null;
        var friendly_store_icon_onclick = null;

        function getGostationInfo(gostation){
          var batteryCells = gostation.BatteryCells;
          var fullBatteryCells = (Math.floor(Math.random()*(batteryCells/8-1))+1)*8-2;

          var info = {
            title: gostation.LocName,
            storePhoto: gostation.StorePhoto,
            address: gostation.Address,
            availableTime: gostation.AvailableTime,
            totalBatteryCells: batteryCells,
            fullBatteryCells: fullBatteryCells
          }
          info.directions_url = getDirectionUrl(gostation.Latitude+','+gostation.Longitude);
          
          return info;
        }

        function displayGostations(){
          if(gostationMarkers.length>0){ return; }

          for(var i=0; i<gon.gostations.length; i++){
            var position = {};
            position.lat = +gon.gostations[i].Latitude;
            position.lng = +gon.gostations[i].Longitude;
            var LocName = gon.gostations[i].LocName;

            var gostationInfo = getGostationInfo(gon.gostations[i]);

            gostationInfo.position = position;
            gostationInfo.id = gon.gostations[i].id;
            gostationInfo.iconImage = i_green_black_battery;

            addMarker(gostationInfo);
          }
        }

        // toggle button for switch checkin status and update user's point
        var currentTripGostationId = -1;
        function toggle(){
          $.ajax({
            url: "/trip_gostations/"+currentTripGostationId+"/getCheckinStatus",
            method: "POST",
            dataType: "json",
            success: function(data){
              if(data.status){
                $.ajax({
                  url: "/trip_gostations/"+currentTripGostationId+"/check",
                  method: "POST",
                  success: function(){
                    document.getElementById("tripModal-checkin").innerHTML = '打卡';
                    document.getElementById("tripModal-checkin").className = "btn btn-sm btn-main text-center col-xs-5";
                    $.ajax({
                      url: "/gostations/getCurrentUserExp",
                      method: "POST",
                      dataType: "json",
                      success: function(data){
                        document.getElementById('layout-nav-exp').innerHTML = data.experience;
                      },
                      error: function() {
                        alert("ERROR: can not getCurrentUserExp!");
                      }
                    });
                  },
                  error: function() {
                    alert("ERROR: can not uncheckin!");
                  }
                });
              }
              else{
                $.ajax({
                  url: "/trip_gostations/"+currentTripGostationId+"/check",
                  method: "POST",
                  success: function(){
                    document.getElementById("tripModal-checkin").innerHTML = '已打卡';
                    document.getElementById("tripModal-checkin").className = "btn btn-sm btn-gray-outline text-center col-xs-5";
                    $.ajax({
                      url: "/gostations/getCurrentUserExp",
                      method: "POST",
                      dataType: "json",
                      success: function(data){
                        document.getElementById('layout-nav-exp').innerHTML = data.experience;
                      },
                      error: function() {
                        alert("ERROR: can not getCurrentUserExp!");
                      }
                    });
                  },
                  error: function() {
                    alert("ERROR: can not checkin!");
                  }
                });
              }

            },

            error: function() {
              alert("ERROR: can not getCheckinStatus from toggle()!");
            }

          });

        }

        function isHasPower(fullBatteryCells){
          return fullBatteryCells>0;
        }

        var activeMarkerInfo = {
          marker: null,
          bFriendlyStore: false,
          bGostationSite: false
        };
        function addMarker(props){
          var marker = new google.maps.Marker({
            position: props.position,
            animation: google.maps.Animation.DROP,
            map: map,
            icon: props.iconImage
          });

          if(props.id==-4){
            marker.infowindow = new google.maps.InfoWindow({
              content: props.title
            });
          }

          if(props.directions_url){
            marker.addListener('click', function(){
              // --- switch marker icon
              if(props.id>=0 || props.id==-1 || props.id==-4){
                if(activeMarkerInfo.marker!=null){
                  if(activeMarkerInfo.bFriendlyStore){
                    activeMarkerInfo.marker.setIcon(friendly_store_icon);
                  }
                  else if(activeMarkerInfo.bGostationSite){
                    if(toggleGostationSite){
                      activeMarkerInfo.marker.setIcon(i_site);
                    }
                    else{
                      activeMarkerInfo.marker.setIcon(i_site_sm);
                    }
                  }
                  else{
                    if(toggleGostationSite){
                      activeMarkerInfo.marker.setIcon(i_green_black_battery_sm);
                    }
                    else{
                      activeMarkerInfo.marker.setIcon(i_green_black_battery);
                    }
                  }
                }
              }

              if(props.id >= 0){//gostations
                if(toggleGostationSite){
                  marker.setIcon(i_green_black_battery_sm);
                }
                else{
                  marker.setIcon(ig_green_black_battery);
                }
                activeMarkerInfo.marker = marker;
                activeMarkerInfo.bFriendlyStore = false;
                activeMarkerInfo.bGostationSite = false;

                // get id of trip_gostation
                currentTripGostationId = -1;
                for(var i=0; i<gon.trip_gostations.length; i++){
                  if(props.id==gon.trip_gostations[i].gostation_id){
                    currentTripGostationId = gon.trip_gostations[i].id;
                  }
                }

                var bCloseGostation = false;
                if( checkLatLngNearby(userCurrentPos, props.position, 0.005) ){//0.005 = 500m
                  bCloseGostation = true;
                }
                bCloseGostation = true;//for debug

                var disDurPromise = promiseCalculateDisDur(props.position);

                disDurPromise
                .then(function(results) {
                  $.ajaxSetup({
                    headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
                  });
                  $.ajax({
                    url: "/trip_gostations/"+currentTripGostationId+"/getCheckinStatus",
                    method: "POST",
                    dataType: "json",
                    success: function(data){
                      props.distance = results.distance;
                      props.duration = results.duration;
                      props.bCheckin = data.status;
                      props.bCloseGostation = bCloseGostation;
                      setMarkerModalInfo(props);
                      $('#tripModalCenter').modal();
                    },

                    error: function() {
                      alert("ERROR: can not getCheckinStatus!");
                    }

                  });
                })
                .catch(function(err) {
                  console.log("Can not get disDur");
                });
              }
              else if(props.id == -1 || props.id == -4){//friendly stores

                if(props.id == -1){
                  marker.setIcon(friendly_store_icon_onclick);
                  activeMarkerInfo.bFriendlyStore = true;
                  activeMarkerInfo.bGostationSite = false;
                }
                else if(props.id == -4){
                  if(toggleGostationSite){
                    marker.setIcon(ig_site);
                  }
                  else{
                    marker.setIcon(i_site_sm);
                  }
                  activeMarkerInfo.bFriendlyStore = false;
                  activeMarkerInfo.bGostationSite = true;
                }
                activeMarkerInfo.marker = marker;

                var disDurPromise = promiseCalculateDisDur(props.position);
                disDurPromise
                .then(function(results) {
                  props.distance = results.distance;
                  props.duration = results.duration;
                  if(props.id == -1){
                    setMarkerModalInfo(props);
                    $('#tripModalCenter').modal();
                  }
                  else{
                    setSiteMarkerModalInfo(props);
                    $('#siteModalCenter').modal();
                  }
                  
                })
                .catch(function(err) {
                  console.log("Can not get disDur");
                });
              }

            });
          }
          
          if(props.id >= 0){//gostations
            gostationMarkers.push(marker);
          }
          else if(props.id == -1){//friendly stores
            friendlyStoreMarkers.push(marker);
          }
          else if(props.id == -2){
            destinationMarker = marker;
          }
          else if(props.id == -3){
            currentPositionMarker = marker;
          }
          else if(props.id == -4){
            siteMarkers.push(marker);
          }
          
        }

        function displayFriendlyStores(){
          if(friendlyStoreMarkers.length>0){ return; }

          for(var i=0; i<gon.friendly_stores.length; i++){
            var position = {
              lat: +gon.friendly_stores[i].latitude,
              lng: +gon.friendly_stores[i].longitude
            };

            var info = {
              title: gon.friendly_stores[i].name,
              storePhoto: gon.friendly_stores[i].main_photo,
              address: gon.friendly_stores[i].address,
              availableTime: gon.friendly_stores[i].open_time,
              totalBatteryCells: 0
            }
            info.position = position;
            info.directions_url = getDirectionUrl(position.lat+','+position.lng);
            info.id = -1;
            info.iconImage = friendly_store_icon;
            info.source_url = gon.friendly_stores[i].source_url;

            addMarker(info);
          }
        }

        function displaySites(){
          if(siteMarkers.length>0){ return; }

          for(var i=0; i<gon.gostation_sites.length; i++){
            var position = {
              lat: +gon.gostation_sites[i].latitude,
              lng: +gon.gostation_sites[i].longitude
            };
          
            var info = {

              title: gon.gostation_sites[i].name,
              content: gon.gostation_sites[i].description,
              storePhoto: "../images/"+gon.gostation_sites[i].photo,
              totalBatteryCells: 0
            }
            info.position = position;
            info.directions_url = getDirectionUrl(position.lat+','+position.lng);
            info.id = -4;
            info.iconImage = i_site;

            addMarker(info);
          }
        }

        function calculateGostationCenter(){
          var lat = 0.0;
          var lng = 0.0;
          if(gon.gostations.length > 0){
            for(var i=0; i<gon.gostations.length; i++){
              lat += +gon.gostations[i].Latitude;
              lng += +gon.gostations[i].Longitude;
            }
            lat /= gon.gostations.length;
            lng /= gon.gostations.length;
          }
          else{
            lat = 23.65566;
            lng = 120.96387;
          }
          return {lat: lat, lng: lng};
        }

        function calculateGostationBounds(){
          var bounds = {
            ne:{
              lat: 0.0,
              lng: 0.0,
            },
            sw:{
              lat: 1000.0,
              lng: 1000.0,
            }
          }
          for(var i=0; i<gon.gostations.length; i++){
            bounds.ne.lat = Math.max(bounds.ne.lat, +gon.gostations[i].Latitude);
            bounds.ne.lng = Math.max(bounds.ne.lng, +gon.gostations[i].Longitude);
            bounds.sw.lat = Math.min(bounds.sw.lat, +gon.gostations[i].Latitude);
            bounds.sw.lng = Math.min(bounds.sw.lng, +gon.gostations[i].Longitude);
          }
          return bounds;
        }

        function getBoundsZoomLevel(mapWidth, mapHeight) {
          if(gon.gostations.length <= 0){ return 8; }
          var bounds = calculateGostationBounds();
          var WORLD_DIM = { height: 256, width: 256 };
          var ZOOM_MAX = 21;

          function latRad(lat) {
              var sin = Math.sin(lat * Math.PI / 180);
              var radX2 = Math.log((1 + sin) / (1 - sin)) / 2;
              return Math.max(Math.min(radX2, Math.PI), -Math.PI) / 2;
          }

          function zoom(mapPx, worldPx, fraction) {
              return Math.floor(Math.log(mapPx / worldPx / fraction) / Math.LN2);
          }

          var ne = bounds.ne;
          var sw = bounds.sw;

          var latFraction = (latRad(ne.lat) - latRad(sw.lat)) / Math.PI;

          var lngDiff = ne.lng - sw.lng;
          var lngFraction = ((lngDiff < 0) ? (lngDiff + 360) : lngDiff) / 360;

          var latZoom = zoom(mapHeight, WORLD_DIM.height, latFraction);
          var lngZoom = zoom(mapWidth, WORLD_DIM.width, lngFraction);

          return Math.min(latZoom, lngZoom, ZOOM_MAX);
        }

        function initMap() {
          directionsService = new google.maps.DirectionsService;
          directionsDisplay = new google.maps.DirectionsRenderer;
          map = new google.maps.Map(document.getElementById('trip-show-map'), {
            zoom: 10,
            center: calculateGostationCenter(),
            styles: googleMapStyle,
            // specify map controls
            minZoom: 8,
            maxZoom: 16,
            mapTypeControl: false,
            fullscreenControl: false,
            streetViewControl: false,
            zoomControl: false
          });

          // dynamic calculate zoom level
          var zoomLevel = getBoundsZoomLevel(350, 250);
          map.setZoom(zoomLevel);

          i_green_black_battery = {
            url: "../icons/i_green_black_battery.png",
            scaledSize: new google.maps.Size(28, 32)
          };

          i_green_black_battery_sm = {
            url: "../icons/i_green_black_battery.png",
            scaledSize: new google.maps.Size(14, 16)
          };

          ig_green_black_battery = {
            url: "../icons/ig_green_black_battery.png",
            scaledSize: new google.maps.Size(42, 48)
          };

          i_blue_black_battery = {
            url: "../icons/i_blue_black_battery.png",
            scaledSize: new google.maps.Size(28, 32)
          };

          ig_blue_black_battery = {
            url: "../icons/ig_blue_black_battery.png",
            scaledSize: new google.maps.Size(42, 48)
          };

          friendly_store_icon = {
            url: "../icons/Shop.png",
            scaledSize: new google.maps.Size(28, 32)
          };

          friendly_store_icon_onclick = {
            url: "../icons/Shop.png",
            scaledSize: new google.maps.Size(35, 40)
          };

          i_site = {
            url: "../icons/i_site.png",
            scaledSize: new google.maps.Size(28, 36)
          };

          i_site_sm = {
            url: "../icons/i_site.png",
            scaledSize: new google.maps.Size(14, 18)
          };

          ig_site = {
            url: "../icons/ig_site.png",
            scaledSize: new google.maps.Size(35, 45)
          };

          directionsDisplay.setMap(map);

          // Create the DIV to hold the control and call the FriendlyStoreControl()
          // constructor passing in this DIV.
          var friendlyStoreDiv = document.createElement('div');
          var friendlyStoreControl = new FriendlyStoreControl(friendlyStoreDiv, map);

          friendlyStoreDiv.index = 1;
          map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(friendlyStoreDiv);


          // Create the DIV to hold the control and call the GostationSiteControl()
          // constructor passing in this DIV.
          var gostationSiteDiv = document.createElement('div');
          var gostationSiteControl = new GostationSiteControl(gostationSiteDiv, map);

          gostationSiteDiv.index = 2;
          map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(gostationSiteDiv);


          // find current position of user
          var locationPromise = getUserCurrentPosition();

          locationPromise
          .then(function(position) {
            userCurrentPos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
          })
          .catch(function(err) {
            console.log("Browser does not support Geolocation!");
          });

          displaySites();
          setMarkersIcon(siteMarkers, i_site_sm);
          displayGostations();
        }

      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBlueY1pKWgE_uhgFbjH8_cO2CjJCERaA&callback=initMap&language=zh-TW">
      </script>

  </body>
</html>
