<!DOCTYPE html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Gostations Direction</title>
    <%= Gon::Base.render_data %>
    <style>
     
      html, body {
        height: 80%;
        margin: 50;
        padding: 50;
      }
      #trip-show-map {
        height: 50%;
        width: 90%;
        margin: auto;
        border-radius: 10px;
      }

      #directions-panel {
        margin-top: 10px;
        background-color: #FFEE77;
        padding: 10px;
      }
    </style>
  </head>

  <body>
    <%= render partial: "shared/LvBP"%>

    <!-- <div id="myModal" class="modal fade " role="dialog">
      <div class="modal-dialog">
         Modal content
        <div class="modal-content trip-button">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= @trip.name%></h4>
          </div>
          <div class="modal-body">
            <p><%= @trip.description %></p>
          </div>
        </div>
      </div>
    </div> --> 
    <div class="modal-trip-show">
      <!-- Trigger the modal with a button
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
       -->
      <!-- Modal for complete trip-->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
      
            </div>
            <div class="modal-body text-center">
              <div style="width: 90px;margin:0 auto;">
                <%= image_tag @trip.badge, style:"width:100px;height100px;"%>
              </div>
              <br/>
              <p >恭喜你!已挑戰成功!</p>  
              <p >本次任務獲得 <%= @trip.points %> 點</p>  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-main-outline" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of Modal for complete trip-->

    <div class="container">
    <div  class="col-xs-12 col-sm-8 col-sm-offset-2 ">
      <div class="clearfix" style="min-height: 605px;">   
        <div class="col-xs-12" style="padding-bottom: 10px;" >
          <%= link_to trips_path do %>
            <h3>
              <%= image_tag "navbar_icons/back_button.svg", :class => "nav-icon-style", style:"height: 25px; width: auto;"  %>   
              <%= @trip.name %>
            </h3>
          <% end %>
        </div>

        <div id="trip-show-map" class="z-depth-2" style="height: 250px"></div>
  
        <p class="col-xs-12" style="padding-top: 10px;"><%= @trip.description %></p>

<div class="clearfix"></div>

        



        <div class="trip-data col-xs-12">
          <div class="col-xs-3 col-sm-3" style="margin-top: 15px; padding: 0;">
              <% if @trip.is_challenged?(current_user)%>                  
                <%= image_tag Merit::Badge.find(@trip.id).custom_fields[:image],alt: @trip.name %>
              <% else %>
                <%= image_tag Merit::Badge.find(@trip.id).custom_fields[:image],alt: @trip.name %>
              <% end %>
            </div>
            <div class="col-xs-9 col-sm-9" style="padding: 5px;">
              <ul>
                <% @sites.each do |site|%>
                  <li class="col-sm-6">
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-sm btn-main" data-toggle="modal" data-target="#sight"> -->
                      <%= site.name%>
                    <!-- </button> -->
                  </li>
               <%end%>
              </ul>

            </div>
            <div class="clearfix"></div>

            <div class="row text-center align-bottom" style="">
              最快完成者：
              <%if Challenge.where(trip_id:@trip).exists?%>
                <%= @challenge.user.name%>
                <%= image_tag @challenge.user.avatar, style:"width:30px; display: inline-block;"%>
                
                在 <%= @challenge.completetime.round %> 分鐘內完成
              <% else %>
                還沒有人挑戰喔！快來搶頭香！
              <%end%>   
            </div> 

          <% @sites.each do |site|%>
            <!-- Modal for sight-->
            <div class="modal fade" id="sight" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%= site.name%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= image_tag site.photo%>
                    <p><%= site.description%></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-main-outline" data-toggle="modal" data-target="#trip_gostation" data-dismiss="modal">去打卡</button>
                    <button type="button" class="btn btn-sm btn-main">導航</button>
                    <p>完成<strong>"<%= @trip.name %>"</strong></p>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
          <!-- google marker Modal -->
          <div class="modal fade" id="tripModalCenter" tabindex="-1" role="dialog" aria-labelledby="tripModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 class="modal-title text-center" id="tripModalLongTitle"></h3>
                </div>
                <div class="modal-body">
                  <div>
                    <img id="tripModal-img" alt="Store Photo" width="300" height="300" class="border rounded">
                  </div>
                  <div id="tripModal-content" style="font-size: 16px;" class="text-center"></div>
                  <div id="tripModal-disdur" style="font-size: 12px;" class="text-center"></div>
                  <div id="tripModal-availableTime" style="font-size: 12px;" class="text-center"></div>
                  <div id="tripModal-moreinfo-div" class="col-xs-4 col-xs-offset-4">
                    <a id="tripModal-moreinfo" style=" font-size: 12px; margin-top: 8px; margin-bottom: 8px;padding: 8px; width:100px; " class="btn btn-main-outline text-center" href="" target="_blank">更多資訊</a>
                  </div>
                  <div id="tripModal-cellContent" style="font-size: 12px;" class="text-center"></div>
                  <div id="tripModal-cellProgress">
                    <div id="tripModal-cellBar"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                  <div class="col-xs-4 col-xs-offset-1" >
                    <a id="tripModal-checkin" style="font-size: 16px;  padding: 8px; width:100px;" class="btn btn-sm btn-main text-center" rel="nofollow">打卡</a>
                  </div>
                  <div class="col-xs-4 col-xs-offset-2">
                    <a id="tripModal-directionurl" style=" font-size: 16px; padding: 8px; width:100px; " class="btn btn-sm btn-main text-center" style="margin: 0 auto;" href="" target="_blank">導航</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- site marker Modal -->
          <div class="modal fade" id="siteModalCenter" tabindex="-1" role="dialog" aria-labelledby="siteModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">               
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 class="modal-title text-center" id="siteModalLongTitle"></h3>
                </div>
                <div class="modal-body">
                  <div>
                    <img id="siteModal-img" alt="Site Photo" width="400" height="400" class="border rounded">
                  </div>
                  <div id="siteModal-content" style="font-size: 14px;" class="text-center"></div>
                  <div id="siteModal-disdur" style="font-size: 14px;" class="text-center"></div>
                  <div id="siteModal-availableTime" style="font-size: 14px;" class="text-center"></div>
                </div>
                <div class="modal-footer">
                  <div class="col-xs-4 col-xs-offset-1" >
                    <a id="siteModal-checkin" style="font-size: 16px;  padding: 8px; width:100px;" class="" rel="nofollow"></a>
                  </div>
                  <div class="col-xs-5 col-xs-offset-2">
                    <a id="siteModal-directionurl" style="color:#ffffff; font-size: 16px; padding: 10px 35px;" class="btn btn-sm btn-main" href="" target="_blank">導航</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>  
<div class="clearfix"></div>
<br>
        <div class="comment-group" style="padding-left: 0px;">
          <div class="col-xs-8 col-sm-10" style="padding-left: 0px;">
            <h4>好玩推薦</h4>
          </div>

          <div class="clearfix"></div>
          <br/>
          <div class="">
            <% @comments.each do |comment|%>
              <div class="comment col-xs-12 ">

                <div class="media">
                  <div class="media-left ">
                    <!-- Button trigger modal -->
                  <button type="button" class="btn btn-gray-outline" data-toggle="modal" data-target=#<%= "comment#{comment.id}"%> >
                    <%= image_tag comment.image, class: "img-fluid", style: "width:64px;border-radius:5px"%>
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id=<%= "comment#{comment.id}" %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h5 class="modal-title" id="exampleModalLabel">
                            <p><%= comment.comment %></p>
                          <P class="text-right">
                            by <%= link_to comment.user.name, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at)%> ago
                          </P>
                          </h5>
                          
                        </div>
                        <div class="modal-body">
                          <%= image_tag comment.image %>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                    
                  </div>
                  <div class="media-body clearfix">
                    <P class="text-right">
                      by <%= link_to comment.user.name, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at)%> ago</P>
                    
                    <p><%= comment.comment %></p>
                  </div>
                  <hr/>
                </div>
              </div>
            <%end%>
          </div>
        </div>

        <div class="form-group comment-group clearfix">  
          <%= form_for [@trip, @comment] do |f|%>
            <%= f.text_area :comment, class: "form-control" %>
              <%= f.file_field :image, class: "btn form-control-file", style: " width:auto;" %>
              <input class="btn btn-main pull-right" type="submit" value="留言">
            </div>
          <% end%>
        </div>


      </div>
      
      <br/>
    </div>
    </div>


      <script>
        var googleMapStyle = [
          {
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#f5f5f5"
              }
            ]
          },
          {
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#616161"
              }
            ]
          },
          {
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "color": "#f5f5f5"
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#bdbdbd"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
          },
          {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "saturation": "-100"
                },
                {
                    "visibility": "on"
                }
            ]
          },
          {
              "featureType": "road",
              "elementType": "geometry.fill",
              "stylers": [
                  {
                      "visibility": "on"
                  },
                  {
                      "color": "#ffffff"
                  }
              ]
          },
          {
              "featureType": "road",
              "elementType": "labels.text.fill",
              "stylers": [
                  {
                      "color": "#7f7b79"
                  }
              ]
          },
          {
              "featureType": "road",
              "elementType": "labels.text.stroke",
              "stylers": [
                  {
                      "visibility": "off"
                  }
              ]
          },
          {
              "featureType": "road",
              "elementType": "labels.icon",
              "stylers": [
                  {
                      "visibility": "off"
                  }
              ]
          },
          {
              "featureType": "road.highway",
              "elementType": "all",
              "stylers": [
                  {
                      "visibility": "simplified"
                  }
              ]
          },
          {
              "featureType": "road.highway",
              "elementType": "labels.text.fill",
              "stylers": [
                  {
                      "color": "#7f7b79"
                  }
              ]
          },
          {
              "featureType": "road.highway",
              "elementType": "labels.text.stroke",
              "stylers": [
                  {
                      "visibility": "off"
                  }
              ]
          },
          {
              "featureType": "road.arterial",
              "elementType": "all",
              "stylers": [
                  {
                      "lightness": "30"
                  }
              ]
          },
          {
              "featureType": "road.arterial",
              "elementType": "labels",
              "stylers": [
                  {
                      "visibility": "on"
                  }
              ]
          },
          {
              "featureType": "road.arterial",
              "elementType": "labels.text.fill",
              "stylers": [
                  {
                      "color": "#7f7b79"
                  }
              ]
          },
          {
              "featureType": "road.arterial",
              "elementType": "labels.text.stroke",
              "stylers": [
                  {
                      "visibility": "off"
                  }
              ]
          },
          {
              "featureType": "road.local",
              "elementType": "all",
              "stylers": [
                  {
                      "lightness": "40"
                  }
              ]
          },
          {
              "featureType": "road.local",
              "elementType": "labels",
              "stylers": [
                  {
                      "visibility": "off"
                  }
              ]
          },
          {
              "featureType": "road.local",
              "elementType": "labels.text.fill",
              "stylers": [
                  {
                      "visibility": "on"
                  },
                  {
                      "color": "#858585"
                  }
              ]
          },
          {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#e5e5e5"
              }
            ]
          },
          {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#eeeeee"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#a4eaf4"
              }
            ]
          }
        ];

        $.ajaxSetup({
          headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
        });

        $(document).ready(function() { 
          if(gon.is_complete_trip){
            $('#myModal').modal();
          }
        });

        // --- HTML: <div id="tripModalCenter"></div>
        function setMarkerModalInfo(props) {
          var cellProgressEle = document.getElementById('tripModal-cellProgress');
          cellProgressEle.className = '';
          document.getElementById('tripModal-cellBar').className = '';

          var markerModalEle = document.getElementById("tripModal-checkin");
          markerModalEle.innerHTML = "";
          markerModalEle.className = "";
          markerModalEle.onclick = null;

          if(props.id >= 0){//gostations
            var percentage = props.fullBatteryCells/props.totalBatteryCells;
            cellProgressEle.className = 'myProgress';
            document.getElementById('tripModal-cellBar').className = 'myBar';
            var elem = document.getElementById("tripModal-cellBar");
            elem.style.width = percentage*100 + '%';

            // markerModalEle.style.color = "#323237";
            markerModalEle.className = "btn btn-sm btn-default text-center col-xs-5";
            if( props.bCloseGostation ){
              // markerModalEle.style.color = "#ffffff";
              markerModalEle.onclick = toggle;
            }

            if(props.bCheckin){
              markerModalEle.innerHTML = "已打卡";
              if(props.bCloseGostation){
                markerModalEle.className = "btn btn-sm btn-main-outline text-center col-xs-5";
              }
              
            }
            else{
              markerModalEle.innerHTML = "打卡";
              if(props.bCloseGostation){
                markerModalEle.className = "btn btn-sm btn-main text-center col-xs-5";
              }
            }
          }
          document.getElementById('tripModalLongTitle').innerHTML = props.title;
          document.getElementById('tripModal-img').src = props.storePhoto;
          document.getElementById('tripModal-content').innerHTML = ''+props.address;
          document.getElementById('tripModal-availableTime').innerHTML = '營業時間：'+props.availableTime;
          document.getElementById('tripModal-cellContent').innerHTML = "";
          if(props.totalBatteryCells>0){
            document.getElementById('tripModal-cellContent').innerHTML = '滿電電池：'+props.fullBatteryCells+' / '+props.totalBatteryCells;
          }
          if(props.source_url){
            document.getElementById('tripModal-moreinfo-div').style = "display: inline";
            document.getElementById('tripModal-moreinfo').href = props.source_url;
          }
          else{
            document.getElementById('tripModal-moreinfo-div').style = "display: none";
          }
          if(props.distance!=null && props.duration!=null){
            document.getElementById('tripModal-disdur').innerHTML = '預估：'+props.distance+' '+props.duration;
          }
          document.getElementById("tripModal-directionurl").href = props.directions_url
        }


        // --- HTML: <div id="siteModalCenter"></div>
        function setSiteMarkerModalInfo(props) {
          document.getElementById('siteModalLongTitle').innerHTML = props.title;
          document.getElementById('siteModal-img').src = props.storePhoto;
          document.getElementById('siteModal-content').innerHTML = props.content;
          // document.getElementById('siteModal-availableTime').innerHTML = '營業時間：'+props.availableTime;

          if(props.distance!=null && props.duration!=null){
            document.getElementById('siteModal-disdur').innerHTML = '預估：'+props.distance+' '+props.duration;
          }
          document.getElementById("siteModal-directionurl").href = props.directions_url
        }


        var userCurrentPos = {
          lat: 0.0,
          lng: 0.0
        };
        var map = null;
        var gostationMarkers = [];
        var toggleFriendlyStore = false;
        var friendlyStoreMarkers = [];
        var currentPositionMarker = null;
        var destinationMarker = null;
        var directionsService = null;
        var directionsDisplay = null;

        // map icons
        var i_black_battery = null;
        var i_green_black_battery = null;
        var i_blue_black_battery = null;
        var ig_black_battery = null;
        var ig_green_black_battery = null;
        var ig_blue_black_battery = null;
        var i_site = null;
        var ig_site = null;
        var friendly_store_icon = null;
        var friendly_store_icon_onclick = null;
        
        // Sets the map on all markers in the array.
        function setMapOnAll(map, markers) {
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
          }
        }
        
        function clearMarkers(markers) {
          setMapOnAll(null, markers);
        }
        // Shows any markers currently in the array.
        function showMarkers(markers) {
          setMapOnAll(map, markers);
        }

        function getGostationInfo(gostation){
          var batteryCells = gostation.BatteryCells;
          var fullBatteryCells = (Math.floor(Math.random()*(batteryCells/8-1))+1)*8-2;

          var info = {
            title: gostation.LocName,
            storePhoto: gostation.StorePhoto,
            address: gostation.Address,
            availableTime: gostation.AvailableTime,
            totalBatteryCells: batteryCells,
            fullBatteryCells: fullBatteryCells
          }

          info.directions_url = 'https://www.google.com/maps/dir/Current+Location/'+gostation.Latitude+','+gostation.Longitude;
          
          return info;
        }

        function hasUserCurrentPos(){
          if(userCurrentPos.lat!=0.0 && userCurrentPos.lng!=0.0){
            return true;
          }
          return false;
        }

        function showGostations(){
          for(var i=0; i<gon.gostations.length; i++){
            var position = {};
            position.lat = +gon.gostations[i].Latitude;
            position.lng = +gon.gostations[i].Longitude;
            var LocName = gon.gostations[i].LocName;

            var gostationInfo = getGostationInfo(gon.gostations[i]);

            gostationInfo.position = position;
            gostationInfo.id = gon.gostations[i].id;
            gostationInfo.iconImage = i_green_black_battery;

            addMarker(gostationInfo);
          }
        }

        function promiseCalculateDisDur(des){
          var promise = new Promise(function(resolve, reject) {
            var results = {
              distance: null,
              duration: null,
              status: false
            }
            if(!hasUserCurrentPos()){
              resolve(results);
            }
            else{
              var directionsServiceCalc = new google.maps.DirectionsService;
              var start = new google.maps.LatLng(userCurrentPos.lat, userCurrentPos.lng);
              var end = new google.maps.LatLng(des.lat, des.lng);
              directionsServiceCalc.route({
                origin: start,
                destination: end,
                travelMode: 'DRIVING',
                avoidHighways: true
              }, function(response, status) {
                if (status === 'OK') {
                  results.distance = response.routes[0].legs[0].distance.text;
                  results.duration = response.routes[0].legs[0].duration.text;
                  results.status = true;
                  resolve(results);
                } else {
                  reject('Directions request failed due to ' + status);
                }
              });
            }
          });

          return promise;
        }

        function calculateDisDur(des){
          var results = {
            distance: '0.0',
            duration: '0.0',
            status: false
          }
          if(userCurrentPos.lat==0.0 && userCurrentPos.lng==0.0){
            return results;
          }
          var directionsServiceCalc = new google.maps.DirectionsService;
          var start = new google.maps.LatLng(userCurrentPos.lat, userCurrentPos.lng);
          var end = new google.maps.LatLng(des.lat, des.lng);
          directionsServiceCalc.route({
            origin: start,
            destination: end,
            travelMode: 'DRIVING',
            avoidHighways: true
          }, function(response, status) {
            if (status === 'OK') {
              results.distance = response.routes[0].legs[0].distance.text;
              results.duration = response.routes[0].legs[0].duration.text;
              results.status = true;
            } else {
              window.alert('Directions request failed due to ' + status);
            }
          });

          return results;
        }

        // toggle button for switch checkin status and update user's point
        var currentTripGostationId = -1;
        function toggle(){
          $.ajax({
            url: "/trip_gostations/"+currentTripGostationId+"/getCheckinStatus",
            method: "POST",
            dataType: "json",
            success: function(data){
              if(data.status){
                $.ajax({
                  url: "/trip_gostations/"+currentTripGostationId+"/check",
                  method: "POST",
                  success: function(){
                    document.getElementById("tripModal-checkin").innerHTML = '打卡';
                    document.getElementById("tripModal-checkin").className = "btn btn-sm btn-main text-center col-xs-5";
                  },
                  error: function() {
                    alert("ERROR: can not uncheckin!");
                  }
                });
              }
              else{
                $.ajax({
                  url: "/trip_gostations/"+currentTripGostationId+"/check",
                  method: "POST",
                  success: function(){
                    document.getElementById("tripModal-checkin").innerHTML = '已打卡';
                    document.getElementById("tripModal-checkin").className = "btn btn-sm btn-main-outline text-center col-xs-5";
                  },
                  error: function() {
                    alert("ERROR: can not checkin!");
                  }
                });
              }

            },

            error: function() {
              alert("ERROR: can not getCheckinStatus from toggle()!");
            }

          });

        }

        function checkLatLngNearby(pos_1, pos_2, nearbyDisTH) {
          var a = (pos_1.lat-pos_2.lat)*(pos_1.lat-pos_2.lat);
          var b = (pos_1.lng-pos_2.lng)*(pos_1.lng-pos_2.lng);

          if( Math.sqrt(a+b) < nearbyDisTH ){
            return true;
          }
          return false;
        }

        function isHasPower(fullBatteryCells){
          return fullBatteryCells>0;
        }

        var activeMarkerInfo = {
          marker: null,
          bHasPower: false,
          bFriendlyStore: false,
          bGostationSite: false
        };
        function addMarker(props){
          var marker = new google.maps.Marker({
            position: props.position,
            animation: google.maps.Animation.DROP,
            map: map,
            icon: props.iconImage
          });

          if(props.directions_url){
            marker.addListener('click', function(){
              if(props.id >= 0){//gostations

                if(activeMarkerInfo.marker!=null){
                  if(activeMarkerInfo.bFriendlyStore){
                    activeMarkerInfo.marker.setIcon(friendly_store_icon);
                  }
                  else if(activeMarkerInfo.bGostationSite){
                    activeMarkerInfo.marker.setIcon(i_site);
                  }
                  else if(activeMarkerInfo.bHasPower){
                    activeMarkerInfo.marker.setIcon(i_green_black_battery);
                  }
                  else{
                    activeMarkerInfo.marker.setIcon(i_black_battery);
                  }
                }
                if(isHasPower(props.fullBatteryCells)){
                  marker.setIcon(ig_green_black_battery);
                }
                else{
                  marker.setIcon(ig_black_battery);
                }
                activeMarkerInfo.marker = marker;
                activeMarkerInfo.bHasPower = isHasPower(props.fullBatteryCells);
                activeMarkerInfo.bFriendlyStore = false;
                activeMarkerInfo.bGostationSite = false;

                // get id of trip_gostation
                currentTripGostationId = -1;
                for(var i=0; i<gon.trip_gostations.length; i++){
                  if(props.id==gon.trip_gostations[i].gostation_id){
                    currentTripGostationId = gon.trip_gostations[i].id;
                  }
                }

                var bCloseGostation = false;
                if( checkLatLngNearby(userCurrentPos, props.position, 0.005) ){//0.005 = 500m
                  bCloseGostation = true;
                }
                bCloseGostation = true;//for debug
                var disDurPromise = promiseCalculateDisDur(props.position);

                disDurPromise
                .then(function(results) {
                  $.ajaxSetup({
                    headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
                  });
                  $.ajax({
                    url: "/trip_gostations/"+currentTripGostationId+"/getCheckinStatus",
                    method: "POST",
                    dataType: "json",
                    success: function(data){
                      props.distance = results.distance;
                      props.duration = results.duration;
                      props.bCheckin = data.status;
                      props.bCloseGostation = bCloseGostation;
                      setMarkerModalInfo(props);
                      $('#tripModalCenter').modal();
                    },

                    error: function() {
                      alert("ERROR: can not getCheckinStatus!");
                    }

                  });
                })
                .catch(function(err) {
                  console.log("Can not get disDur");
                });
              }
              else if(props.id == -1 || props.id == -4){//friendly stores
                if(activeMarkerInfo.marker!=null){
                  if(activeMarkerInfo.bFriendlyStore){
                    activeMarkerInfo.marker.setIcon(friendly_store_icon);
                  }
                  else if(activeMarkerInfo.bGostationSite){
                    activeMarkerInfo.marker.setIcon(i_site);
                  }
                  else if(activeMarkerInfo.bHasPower){
                    activeMarkerInfo.marker.setIcon(i_green_black_battery);
                  }
                  else{
                    activeMarkerInfo.marker.setIcon(i_black_battery);
                  }
                }
                activeMarkerInfo.marker = marker;
                if(props.id == -1){
                  marker.setIcon(friendly_store_icon_onclick);
                  activeMarkerInfo.bFriendlyStore = true;
                  activeMarkerInfo.bGostationSite = false;
                }
                else if(props.id == -4){
                  marker.setIcon(ig_site);
                  activeMarkerInfo.bFriendlyStore = false;
                  activeMarkerInfo.bGostationSite = true;
                }

                var disDurPromise = promiseCalculateDisDur(props.position);
                disDurPromise
                .then(function(results) {
                  props.distance = results.distance;
                  props.duration = results.duration;
                  if(props.id == -1){
                    setMarkerModalInfo(props);
                    $('#tripModalCenter').modal();
                  }
                  else{
                    setSiteMarkerModalInfo(props);
                    $('#siteModalCenter').modal();
                  }
                  
                })
                .catch(function(err) {
                  console.log("Can not get disDur");
                });
              }

            });
          }
          
          if(props.id >= 0){//gostations
            gostationMarkers.push(marker);
          }
          else if(props.id == -1){//friendly stores
            friendlyStoreMarkers.push(marker);
          }
          else if(props.id == -2){
            destinationMarker = marker;
          }
          else if(props.id == -3){
            currentPositionMarker = marker;
          }
          
        }

        function displayFriendlyStores(){
          if(friendlyStoreMarkers.length>0){ return; }

          for(var i=0; i<gon.friendly_stores.length; i++){
            var position = {
              lat: +gon.friendly_stores[i].latitude,
              lng: +gon.friendly_stores[i].longitude
            };

            var info = {
              title: gon.friendly_stores[i].name,
              storePhoto: gon.friendly_stores[i].main_photo,
              address: gon.friendly_stores[i].address,
              availableTime: gon.friendly_stores[i].open_time,
              totalBatteryCells: 0
            }
            info.position = position;
            info.directions_url = 'https://www.google.com/maps/dir/Current+Location/'+position.lat+','+position.lng;
            info.id = -1;
            info.iconImage = friendly_store_icon;
            info.source_url = gon.friendly_stores[i].source_url;

            addMarker(info);
          }
        }

        function displaySites(){

          for(var i=0; i<gon.gostation_sites.length; i++){
            var position = {
              lat: +gon.gostation_sites[i].latitude,
              lng: +gon.gostation_sites[i].longitude
            };
          
            var info = {

              title: gon.gostation_sites[i].name,
              content: gon.gostation_sites[i].description,
              storePhoto: gon.gostation_sites[i].photo,
              totalBatteryCells: 0
            }
            info.position = position;
            info.directions_url = 'https://www.google.com/maps/dir/Current+Location/'+position.lat+','+position.lng;
            info.id = -4;
            info.iconImage = i_site;

            addMarker(info);
          }
        }

        function calculateGostationCenter(){
          var lat = 0.0;
          var lng = 0.0;
          for(var i=0; i<gon.gostations.length; i++){
            lat += +gon.gostations[i].Latitude;
            lng += +gon.gostations[i].Longitude;
          }
          lat /= gon.gostations.length;
          lng /= gon.gostations.length;
          return {lat: lat, lng: lng};
        }

        function getUserCurrentPosition(){
          var promise = new Promise(function(resolve, reject) {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(
                function(position){
                  resolve(position)
                }
              );
            } else {
              reject("Can not get current position!");
            }
          });

          return promise;
        }

        function FriendlyStoreControl(controlDiv, map) {

          // Set CSS for the control border.
          var controlUI = document.createElement('div');
          controlUI.style.backgroundColor = '#77D6AC';
          controlUI.style.borderRadius = '15px';
          controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
          controlUI.style.cursor = 'pointer';
          controlUI.style.marginLeft = '18px';
          controlUI.style.marginBottom = '8px';
          controlUI.style.textAlign = 'center';
          controlUI.title = 'Click to recenter the map';
          controlDiv.appendChild(controlUI);

          // Set CSS for the control interior.
          var controlText = document.createElement('div');
          controlText.style.color = '#FFFFFF';
          controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
          controlText.style.fontSize = '14px';
          controlText.style.lineHeight = '32px';
          controlText.style.paddingLeft = '10px';
          controlText.style.paddingRight = '10px';
          controlText.innerHTML = '友好店家';
          controlUI.appendChild(controlText);

          // Setup the click event listeners: simply set the map to Chicago.
          controlUI.addEventListener('click', function() {
            displayFriendlyStores();
                toggleFriendlyStore = !toggleFriendlyStore;
                if(toggleFriendlyStore){
                  showMarkers(friendlyStoreMarkers);
                  controlText.style.color = '#77D6AC';
                  controlUI.style.backgroundColor = '#FFFFFF';
                }
                else{
                  clearMarkers(friendlyStoreMarkers);
                  controlText.style.color = '#FFFFFF';
                  controlUI.style.backgroundColor  = '#77D6AC';
                }
          });

        }

        function calculateGostationBounds(){
          var bounds = {
            ne:{
              lat: 0.0,
              lng: 0.0,
            },
            sw:{
              lat: 1000.0,
              lng: 1000.0,
            }
          }
          for(var i=0; i<gon.gostations.length; i++){
            bounds.ne.lat = Math.max(bounds.ne.lat, +gon.gostations[i].Latitude);
            bounds.ne.lng = Math.max(bounds.ne.lng, +gon.gostations[i].Longitude);
            bounds.sw.lat = Math.min(bounds.sw.lat, +gon.gostations[i].Latitude);
            bounds.sw.lng = Math.min(bounds.sw.lng, +gon.gostations[i].Longitude);
          }
          return bounds;
        }

        function getBoundsZoomLevel(mapWidth, mapHeight) {
          var bounds = calculateGostationBounds();
          var WORLD_DIM = { height: 256, width: 256 };
          var ZOOM_MAX = 21;

          function latRad(lat) {
              var sin = Math.sin(lat * Math.PI / 180);
              var radX2 = Math.log((1 + sin) / (1 - sin)) / 2;
              return Math.max(Math.min(radX2, Math.PI), -Math.PI) / 2;
          }

          function zoom(mapPx, worldPx, fraction) {
              return Math.floor(Math.log(mapPx / worldPx / fraction) / Math.LN2);
          }

          var ne = bounds.ne;
          var sw = bounds.sw;

          var latFraction = (latRad(ne.lat) - latRad(sw.lat)) / Math.PI;

          var lngDiff = ne.lng - sw.lng;
          var lngFraction = ((lngDiff < 0) ? (lngDiff + 360) : lngDiff) / 360;

          var latZoom = zoom(mapHeight, WORLD_DIM.height, latFraction);
          var lngZoom = zoom(mapWidth, WORLD_DIM.width, lngFraction);

          return Math.min(latZoom, lngZoom, ZOOM_MAX);
        }

        function initMap() {
          directionsService = new google.maps.DirectionsService;
          directionsDisplay = new google.maps.DirectionsRenderer;
          map = new google.maps.Map(document.getElementById('trip-show-map'), {
            zoom: 10,
            center: calculateGostationCenter(),
            styles: googleMapStyle,
            // specify map controls
            minZoom: 8,
            maxZoom: 16,
            mapTypeControl: false,
            fullscreenControl: false,
            streetViewControl: false,
            zoomControl: false
          });

          // dynamic calculate zoom level
          var zoomLevel = getBoundsZoomLevel(350, 250);
          map.setZoom(zoomLevel);

          i_black_battery = {
            url: "../icons/i_black_battery.png",
            scaledSize: new google.maps.Size(28, 32)
          };

          ig_black_battery = {
            url: "../icons/ig_black_battery.png",
            scaledSize: new google.maps.Size(42, 48)
          };

          i_green_black_battery = {
            url: "../icons/i_green_black_battery.png",
            scaledSize: new google.maps.Size(28, 32)
          };

          ig_green_black_battery = {
            url: "../icons/ig_green_black_battery.png",
            scaledSize: new google.maps.Size(42, 48)
          };

          i_blue_black_battery = {
            url: "../icons/i_blue_black_battery.png",
            scaledSize: new google.maps.Size(28, 32)
          };

          ig_blue_black_battery = {
            url: "../icons/ig_blue_black_battery.png",
            scaledSize: new google.maps.Size(42, 48)
          };

          friendly_store_icon = {
            url: "../icons/Shop.png",
            scaledSize: new google.maps.Size(28, 32)
          };

          friendly_store_icon_onclick = {
            url: "../icons/Shop.png",
            scaledSize: new google.maps.Size(35, 40)
          };

          i_site = {
            url: "../icons/i_site.png",
            scaledSize: new google.maps.Size(28, 36)
          };

          ig_site = {
            url: "../icons/ig_site.png",
            scaledSize: new google.maps.Size(35, 45)
          };

          directionsDisplay.setMap(map);

          // Create the DIV to hold the control and call the FriendlyStoreControl()
          // constructor passing in this DIV.
          var friendlyStoreDiv = document.createElement('div');
          var friendlyStoreControl = new FriendlyStoreControl(friendlyStoreDiv, map);

          friendlyStoreDiv.index = 1;
          map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(friendlyStoreDiv);

          // find current position of user
          var locationPromise = getUserCurrentPosition();

          locationPromise
          .then(function(position) {
            userCurrentPos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
          })
          .catch(function(err) {
            console.log("Browser does not support Geolocation!");
          });

          displaySites();
          showGostations();
        }

      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBlueY1pKWgE_uhgFbjH8_cO2CjJCERaA&callback=initMap&language=zh-TW">
      </script>

  </body>
</html>
