<h1>trips#show</h1>

<%= form_for @challenge do |f|%>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :trip_id, value: params[:id] %>
  <%= f.hidden_field :status, value: false %>
  <%= f.submit "Start" %>
<%end%>

<% @trip_gostations.each do |t| %>
  <%= check_box_tag :status, true , t.status , data: {url: check_trip_gostation_path(t), method: :post, remote: true}%>
  <%= t.gostation.LocName %>
<% end%>


