<div class="container">
<br>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 ", style="min-height: 605px; margin-top: -30px;">
    <br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="col-xs-4">
      <%= image_tag @user.avatar, class: "img-circle avatar", style:"width: 80px;"%> 
    </div>
    <div class="col-xs-8">  
      <%= f.label :更新大頭貼 %>
      <%= f.file_field :avatar, class: "form-control  border border-R"%>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="field">
    <%= f.label :ID, class:"text-uppercase" %>
    <%= f.text_field :name, class: "form-control  border border-R" %>
  </div>

  
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control  border border-R" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<!--
  <div class="field">
    <%= f.label :密碼 %>
    <%= f.password_field :password, autocomplete: "off", placeholder:"最少#{@minimum_password_length}位數,若不想重設請略過" , class: "form-control  border border-R" %>
  </div>
  <div class="field">
    <%= f.label :密碼確認 %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control  border border-R" %>
  </div>

  <div class="field">
    <%= f.label :目前密碼 %> 
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "請輸入更新前密碼" , class: "form-control  border border-R"%>
  </div>
  <br/>
-->
<br/>
  <div class="actions text-center">
    <input class="btn btn-main" type="submit" value="更新" style="padding: 6px 28px;">
    <%= link_to "返回上頁", :back , class:"btn btn-main-outline" %>
  </div>
<% end %>
<br/>
<br/>
<div class="text-center">
  <p><%= button_to "取消註冊", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger", style:"border-radius: 20px;" %></p>
</div>



</div>
</div>
