<div class="container">
<br>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 ", style="min-height: 605px;">
    <br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="">
    <%= image_tag @user.avatar, class: "img-circle avatar", style:"width: 100px;"%> 
    <%= f.file_field :avatar, class: "btn form-control-file ", style:"width: 100px;" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(若不想重設請略過)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <% if @minimum_password_length %>
      <em>最少<%= @minimum_password_length %>個字</em>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(請輸入更新前密碼)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" , class: "form-control"%>
  </div>
  <br/>

  <div class="actions">
    <input class="btn btn-primary" type="submit" value="更新">
    <%= link_to "Back", :back %>
  </div>
<% end %>
<br/>
<p><%= button_to "取消註冊", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class: "btn btn-default" %></p>


</div>
</div>
