
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <!--<h2 class="text-center">註冊</h2>-->

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html =>{:class => 'form-horizontal text-center'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="border" style="padding:20px;">
          <div class="field form-group">
            <%= f.label :name, class: "col-xs-4 control-label"%>
            <%= f.text_field :name, class: "float-left"%>
          </div>

          <div class="field form-group">
            <%= f.label :email, class: "col-xs-4 control-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "float-left" %>
          </div>

          <div class="field form-group">
            <%= f.label :password, class: "col-xs-4 control-label" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            <%= f.password_field :password, autocomplete: "off" , class: "float-left"%>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation, class: "col-xs-4 control-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "float-left"%>
          </div>
        </div>
        <div class="col-xs-12 border clearfix bottom" >
          <div class="actions station-buttom">
            <input class="btn btn-success" type="submit" value="註冊" style="margin-right: 20px;">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>

