<div class="media" style="padding:0 18px;">
  <div class="border table-responsive" style="border-radius: 10px;">
    <table class="table">
      <thead>
        <tr>
          <th class=""></th>
          <th class="">Name</th>
          <th class="">
            <%= image_tag("icons/Lv.png")%>
          </th>
          <th class="">
            <%= image_tag("icons/B.png")%>
          </th>
          <th class="">
            <%= image_tag("icons/G.png")%>
          </th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @users.each do |user|%>
          <tr>
            <td><%= image_tag ("#{user.check_avatar(user)}"), class: "img-responsive"%></td>
            <td><%= user.name %><%= render partial: "shared/follow", locals: {user: user}%></td>
            <td><%= user.level%></td>
            <td><%= user.badges.count%></td>
            <td><%= user.points%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

