<div class="user-background" style="padding:0 15px;">
  <div class="border table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class=""></th>
          <th class="">Name</th>
          <th class="">
            <%= image_tag(("level.png"), :class => "img-responsive")%>
          </th>
          <th class="">
            <%= image_tag(("badge.png"), :class => "img-responsive") %>
          </th>
          <th class="">
            <%= image_tag(("point.png"), :class => "img-responsive")%>
          </th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @users.each do |user|%>
          <tr>
            <td><%= image_tag ("#{user.check_avatar(user)}"), class: "img-responsive"%></td>
            <td><%= user.name %><%= render partial: "shared/follow", locals: {user: user}%></td>
            <td><%= image_tag(("level.png"), :class => "img-responsive")%><%= user.level%></td>
            <td><%= image_tag(("badge.png"), :class => "img-responsive")%><%= user.badges.count%></td>
            <td><%= image_tag(("point.png"), :class => "img-responsive")%><%= user.points%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

