<div class="container">
  <div class="border white table-responsive col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="border-radius: 10px;">
    <ul class="nav nav-pills pull-right">
      <li role="presentation"   class="active"  >
        <%= link_to '所有玩家', users_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Top 10', leaderboards_users_path %>
      </li>
      <li role="presentation">
        <%= link_to '我的朋友', f_leaderboards_users_path %>
      </li>
      <li role="presentation">
        <%= link_to "我的記錄", user_path(current_user)%>
      </li>
    </ul>
    <br/>

    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-4 text-center"></th>
          <th class="col-xs-4"></th>
          <th class="col-xs-2">
            <%= image_tag("navbar_icons/B.svg",style: "width:30px; margin:0 auto;")%>
          </th>
          <th class="col-xs-2">
            <%= image_tag("navbar_icons/P.svg",style: "width:30px;height:32px; margin:0 auto;")%>
          </th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @users.each do |user|%>
          <tr>
            <td class="col-xs-4"><%= link_to image_tag("#{user.check_avatar(user)}"), user_path(user, class: "img-responsive")%></td>
            <td class="col-xs-4">
              <p><%= link_to "#{user.name}",user_path(user) %></p>
              <%= render partial: "shared/follow", locals: {user: user}%>
            </td>
            <td class="col-xs-2"><%= user.badges.count%></td>
            <td class="col-xs-2"><%= user.points%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

