    <div class="col-xs-12 media" style="border:1px solid black;">
      <div class="col-xs-5 col-md-4 media-left media-middle" style="border:1px solid green;"">
        <a href="#" class="thumbnail" style="border:1px solid orange;">
          <%= image_tag @user.avatar, class: "media-object img-circle avatar "%>
        </a>
        <%= form_for @user do |f| %>
          <%= f.file_field :avatar%>
          <input class="btn btn-success btn-sm" type="submit" value="更新照片">
        <%end%>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @user.name%></h4>
        <h4 class="media-heading"><%= image_tag("point.png")%> 點數 <%= @user.points %></h4>
        <h4 class="media-heading"><%= image_tag("badge")%> 徽章 <%= @user.badges.count%></h4>
        <h4 class="media-heading"><%= image_tag("level")%> 等級 <%= @user.level %></h4>
        <%= link_to "排行榜", users_path, class: "btn btn-danger btn-sm"%>
      </div>
    </div>
    <div class="col-xs-12 clearfix"  style="border:1px solid red;">
      <div class="user-badges clearfix">
        <% @user.badges.each do |badge| %>
          <div class="user-badge thumbnail card col-xs-4">
            <%= image_tag (badge.custom_fields[:image]) %>
            <div class="caption text-center">
              <p><%= badge.name %></p>
            </div>
          </div>
        <%end%>
      </div>
    </div>

  <!--
  <%= form_for @user do |f| %>
  
    <%= f.file_field :avatar %>

    <%= f.submit %>
  <%end%>
-->




