<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.12&appId=1818422994855649&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="media  col-xs-12 col-sm-12 col-md-12 background">
  <div class="border clearfix  white col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="media-left media-middle col-xs-5 col-sm-4 col-md-4 clearfix ">
      <div class="text-center ">
        <%= image_tag @user.avatar, class: "media-object img-circle avatar "%>
         
      </div>
      <div class="uploader text-center " style="padding-bottom: 20px;">
        <% if @user == current_user %>
          <%= form_for @user do |f| %>
            <%= f.file_field :avatar, style: " width:90px;margin:0 auto;"%>
            <input class="btn btn-default btn-sm  " type="submit" value="更新">
            <br/>
          <%end%>
        <% else %>
          <%= render partial: "shared/follow", locals: {user: @user}%>
        <%end%>
      </div>

    </div>
    <div class="media-body ">
      <div><%= @user.email%></div>

      <div>
        <div class="user-icon"> <%= image_tag(("navbar_icons/b_G.svg")) %></div> 
        <div class="user-icon-text">點數 <%= @user.points %></div>
      </div>
      <div>
        <div class="user-icon"><%= image_tag(("navbar_icons/B.svg")) %></div>
        <div class="user-icon-text"> 徽章 <%= @user.badges.count%></div>
      </div>
      <div>
        <div class="user-icon"><%= link_to "排行榜", f_leaderboards_users_path, class: "btn btn-default"%></div>
        <div>
        <div class="fb-share-button" data-href="<% 'https://gogaming-deployment.herokuapp.com/users/'+'@user.id'%>" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="<%'https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgogaming-deployment.herokuapp.com%2Fusers%2F'+'@user.id'+'&amp;src=sdkpreparse'%>" class="fb-xfbml-parse-ignore">分享</a></div>
      </div>
      </div>   
    </div>

<br>
<hr>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="min-height:400px;"  >
      <div class="user-badges clearfix">
        <% @user.badges.each do |badge| %>
          <div class="user-badge thumbnail card col-xs-4 col-sm-4 col-md-3">
            <%= image_tag (badge.custom_fields[:image]) %>
            <div class="caption text-center">
              <p><%= badge.name %></p>
            </div>
          </div>
        <%end%>
      </div>    
    </div>
  </div>
  
</div>









