<div class="container background">
  <div class="border col-xs-12 station box-shadow-right">
    <h2 class="text-center">忘記密碼?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => 'form-horizontal text-center'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="border monitor monitor-inner-shadow">
          <div class="field form-group">
            <%= f.label :email, class: "col-xs-4 control-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "float-left"%>
          </div>
        </div>
        <hr/>
        <div class="actions text-center station-buttom">
          <input class="btn btn-success" type="submit" value="寄信重設密碼" style="margin-right: 20px;">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
  </div>
</div>
