<div class="container">

  <h1>trips後台總表</h1>

  <div class="row">
    <div class="col-md-12">

      <div class="form-inline">
        <%= form_for [:admin, @trip] do |f| %>
          <div class="form-group">
            <%= f.text_field :name, placeholder: "Trip Name", class: "form-control" %>
            <%= f.text_field :gostations_index, placeholder: "Gostations", class: "form-control" %>
          </div>
          <%= f.submit class: "btn btn-primary" %>
          <% if @trip.errors.any? %>
            <%= @trip.errors.full_messages.to_sentence %>
          <% end %>
        <% end %>
      </div>
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Trip Name</th>
            <th>Gostations index</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <% @trips.each do |trip| %>
          <tr>
            <th scope="row"><%= trip.id %></th>
            <td><%= trip.name %></td>
            <td><%= trip.gostations_index %></td>
            <td>
              <%= link_to 'Edit', admin_trips_path(id: trip.id) %> | 
              <%= link_to 'Delete', admin_trip_path(trip), method: :delete, data: { confirm: "Are you sure?" } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>