<div class="container">
  <br>
  <div class="border col-xs-12 col-sm-8 col-sm-offset-2 white", style="min-height: 605px;">
    <br>
    <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html =>{:class => 'form-horizontal text-center'}) do |f| %>
      <div class=" col-xs-12 white" style="padding:20px;">
        <div class="field form-group">
          <%= f.label :email, class: "col-xs-4 control-label"%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "float-left" %>
        </div>
        <div class="field form-group">
          <%= f.label :password, class: "col-xs-4 control-label" %>
          <%= f.password_field :password, autocomplete: "off", class: "float-left" %>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr/>
  <!--<% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
-->
      <div class="col-xs-12 clearfix bottom white" style="min-height: 460px;" >
        <div class="actions text-center ">
          <input class="btn btn-primary btn-lg float-left" type="submit" value="登入" style="margin-right: 20px;">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


