<div class="container">
  <div class="navbar-fixed-top" id="pig-points">
    <div class="col-xs-12">

      
      <div class=" col-xs-12" style=" padding-top: 5px; padding-left: 45px;">    
        
        <h5>  
          <span class="pig-icon"> <%= image_tag(("navbar_icons/P.svg"), class:"pig-icon") %></span>
          <span style="color: #FD8484;"><%= current_user.points %></span> 點可兌換 / 共獲得 <%= current_user.experience %> 點 
        </h5> 
      </div>
    </div>
  </div>

  <div class="card-deck">
    <% @products.each do |product|%>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">    
        <div class="card card-product border rounded">
          <h5 class="card-header"></h5>
          <%= image_tag product.image, class: "card-img-top"  %>
          <div class="card-body card-product-body">
            <h1 class="card-title" style="font-size: 15px;"><%= product.name %></h1>
            <div class="col-xs-1 pd0 pig-icon"> <%= image_tag(("navbar_icons/P.svg")) %></div>
            <div class="col-xs-6 pig-icon-text text-dark " style=""> <%= product.product_points %> 點 </div>

            <% if current_user.points >= product.product_points %>
              <button type="button" class="btn btn-main pull-right" style="margin-top: -5px;" data-toggle="modal" data-target= <%= "#product"+product.id.to_s %>>
                兌換
              </button>                                                                                                      
            <%else%>
              <button type="button" class="btn btn-gray-outline pull-right"  style="margin-top: -5px;" >
                點數不足
              </button>
            <%end%>
          </div>
        </div>
      </div>

    <!-- Button trigger modal -->


    <!-- Modal -->
      <div class="modal modal-style fade" id=<%= "product"+product.id.to_s %> tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="modal-title" id="exampleModalLongTitle"><%= product.name%></h5>
            </div>
            <div class="modal-body" style="padding-bottom: 45px;">
              <%= image_tag product.image %>
              <p class=""><%= product.product_points%> points</p>
              <%= form_for @user_product, url: user_products_path(product_id: product.id,user_id: current_user.id), method: :post do |f| %>
                  <%= f.collection_select :repairstore_id, Repairstore.all, :id, :name, {prompt: "請選擇兌換店家"}, {class: "form-control"} %>
                  <div class="col-xs-12" style= "padding-top: 5px;">
                    <%= f.submit "確認兌換" , :class => 'btn btn-main pull-right' %>
                  </div>
                <% end %>
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





    

