<!DOCTYPE html>
<html>
  <head>
    <title>GoGaming</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      .introjs-helperNumberLayer{
        font-size: 0px;
      }
    </style>
  </head>

  <body>
    <!-- 導覽列 -->
    <nav class="navbar" >
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #C6E6A7;">
        <div class="container-fluid ">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div class="nav-icon brand">
                <%= image_tag "gogoro.png", style:"width:100px;"%>
            </div>

          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul  class="pull-right text-right nav navbar-nav">
              <% if current_user %>
                <% if current_user.role == "admin" %>
                  <li><%= link_to "後台", admin_trips_path%><li>
                <%end%>
              <li><%= link_to('登出', destroy_user_session_path, method: :delete) %></li>
              <li><%= link_to('修改密碼', edit_user_registration_path) %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
        <% if current_user %>
          <div class="" >
            <div class="col-xs-3 my-nav-tab" data-step="1" data-intro= "規劃路線，尋找充電站" data-position="right">
              <%= link_to root_path do %>
                <% if controller?("gostations")%>
                  <%= image_tag "icons/i_black_battery.png", :class => "nav-icon-style" %>
                <% else %>
                  <%= image_tag "icons/ig_black_battery.png", :class => "nav-icon-style" %>
                <% end %>
                找電池
              <% end %>
            </div>
            <div class="col-xs-3 my-nav-tab" data-step="2" data-intro="挑戰任務，賺取積分">
              <%= link_to trips_path do %>
                <% if controller?("trips")%>
                  <%= image_tag "navbar_icons/gogoro.svg", :class => "nav-icon-style" %>
                <% else %>
                  <%= image_tag "navbar_icons/g_gogoro.svg", :class => "nav-icon-style" %>
                <% end %>
                去玩耍
              <% end %>
            </div>
            <div class="col-xs-3 my-nav-tab" data-step="3" data-intro="看積分，查排名">
              <%= link_to user_path(current_user) do %>
                <% if controller?("users")%>
                  <%= image_tag "navbar_icons/G.svg", :class => "nav-icon-style" %>
                <% else %>
                  <%= image_tag "navbar_icons/g_G.svg", :class => "nav-icon-style" %>
                <% end %>
                看積分
              <% end %>            
            </div>
            <div class="col-xs-3 my-nav-tab" data-position="left" data-step="4" data-intro="用積分，換商品">
              <%= link_to products_path do %>
                <% if controller?("users")%>
                  <%= image_tag "navbar_icons/bag.svg", :class => "nav-icon-style" %>
                <% else %>
                  <%= image_tag "navbar_icons/bag.svg", :class => "nav-icon-style" %>
                <% end %>
                換商品
              <% end %>    
            </div>
          </div>
        <% end %>
      </nav>
    </nav>
    <!-- Alert-->
    <% if flash[:notice] %>
      <div class="container">
        <div class="row">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= notice %>
          </div>
        </div>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="container">
        <div class="row">
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= alert %>
          </div>
        </div>
      </div>
    <% end %> 

    <% if current_user %>
      <div class="footer navbar-fixed-bottom" >
        <div  class="col-xs-2 user-data">
          <div class="user-icon"><%= image_tag(("navbar_icons/Lv.png")) %> </div>
        </div>
        <div  class="col-xs-2 ">
          <div class="user-icon-text"><%= current_user.level%> </div>
        </div>
        <div  class="col-xs-2 user-data">
          <div class="user-icon"><%= image_tag(("navbar_icons/B.svg")) %> </div>
        </div>
        <div  class="col-xs-2 ">
          <div class="user-icon-text"><%= current_user.badges.count%> </div>
        </div>
        <div  class="col-xs-2 user-data">
          <div class="user-icon"> <%= image_tag(("navbar_icons/b_G.svg")) %></div> 
        </div>
        <div  class="col-xs-2">
          <div class="user-icon-text"><%= current_user.points %></div>
        </div>    
      </div>
    <% end %>

    <%= yield %>
    <script type="text/javascript">
      if (gon.sign_in_count < 2 ){
        introJs().start();
      }
      // introJs().start();
    </script>

  </body>
</html>
